<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.samuelzvir.meuabc" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.CreateTextActivity"
            android:label="@string/title_activity_create_text" >
        </activity>
        <activity
            android:name=".activities.ReceiveTextActivity"
            android:label="@string/title_activity_receive_text" >
        </activity>
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TakePhotoActivity"
            android:label="@string/title_activity_take_photo" >
        </activity>
        <activity
            android:name=".activities.BuildChallengesActivity"
            android:label="@string/title_activity_build_challenges" >
        </activity>
        <activity
            android:name=".activities.PlayChallengesActivity"
            android:label="@string/title_activity_play_challenges" >
        </activity>
        <activity
            android:name=".activities.ScrabbleActivity"
            android:label="@string/title_activity_scrabble" >
        </activity>
        <activity
            android:name=".activities.ABCActivity"
            android:label="@string/title_activity_abc" >
        </activity>
        <activity
            android:name=".ProfilesActivity"
            android:label="@string/title_activity_profiles" >
        </activity>
        <activity
            android:name=".DataAnalysisActivity"
            android:label="@string/title_activity_data_analysis" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
