<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ema" >

    <supports-screens android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="600" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.admin.CreateTextActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_create_text"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.admin.MenuActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.operations.TakePhotoActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_take_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.admin.WordsManagementActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_build_challenges"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.operations.ScrabbleActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_scrabble"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.admin.ABCActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_abc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.admin.ProfilesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_profiles"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.operations.DataAnalysisActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_data_analysis"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.admin.UserActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.admin.SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ema.activities.InitialLoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.admin.AdminFormActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name="br.com.ema.activities.LoginActivity" >
        </activity>
        <activity
            android:name=".activities.student.StudentMenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activities.student.StudentGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activities.operations.StatsActivity"
            android:label="@string/title_activity_stats"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
